.food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff; /* Branco */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .food-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px; /* Bordas arredondadas para a imagem */
  }
  
  .food-item span {
    flex: 1;
  }
  
  .food-item button {
    background-color: #f44336; /* Vermelho */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .food-item button:hover {
    background-color: #d32f2f; /* Vermelho escuro */
  }
  